body {
    background-color: bisque;
}

.title {
    text-align: center;
    max-width: 350px;
    color: white;
    background-color: black;
}

.newsTitle {
        margin: auto;
}

h4 {
    margin: auto; 
    position: relative;
    left: 15px;
}

.news {
    width: auto;
    /*
    Overflow is a powerful CSS tool that we use:
    height: 300px;
    overflow-x: scroll;
    */
}

.news p {
    text-align: justify;
}

img {
    float: right;
    border-radius: 3px;
    padding: 15px;
}

img:hover {
    opacity: 0.5;
}